/* font */
@font-face {
  font-family: "Yangjin";
  src: url("https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "BookkMyungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Lt.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "BookkMyungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

/* global */
:root {
  --cp: var(--color-black);
  --cpv: var(--color-gray);
  --ca: var(--color-blue);
  --cav: var(--color-orange);
  --ct: var(--color-white);
  --color-black: #050a13;
  --color-gray: #1b1e26;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-white: white;

  --maxw: 1200px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "BookkMyungjo";
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--ct);
}

ul {
  list-style: none;
  padding: 0;
}

/* header */
.header {
  background-color: var(--cp);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo__img {
  width: 36px;
  height: 36px;
}

.header__logo__title {
  font-size: 1.8rem;
}

/* header menu */

.header_menu {
  display: flex;
  gap: 4px;
}

.header_menu_item {
  padding: 8px 16px;
}

.header_menu_item:hover {
  border-bottom: 1px solid var(--ca);
}

.header_menu_item.active {
  border: 1px solid var(--ca);
  border-radius: 5px;
}

/* home */
#home {
  background-color: var(--cp);
  color: var(--ct);
  padding: 7rem 1rem 5rem; /* 위 아래 좌우 */
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 3px solid var(--cp);
  object-fit: contain;
  object-position: center top;
  margin-top: 1rem;
}

.home__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home__title--strong {
  color: var(--ca);
}

.home__description {
  font-size: 1.5rem;
}

.home__contact {
  display: inline-block;
  background-color: var(--ca);
  color: var(--cp);
  margin: 2rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
}

.home__contact:hover {
  background-color: transparent;
  color: var(--ct);
  outline: 2px solid var(--ca);
}
