/* font */
@font-face {
  font-family: "Yangjin";
  src: url("https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "BookkMyungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Lt.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "BookkMyungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

/* global */
:root {
  --cp: var(--color-black);
  --cpv: var(--color-gray);
  --ca: var(--color-blue);
  --cav: var(--color-orange);
  --ct: var(--color-white);
  --color-black: rgba(156, 109, 20, 0.678);
  --color-gray: #a89734;
  --color-blue: #584401;
  --color-orange: #f8ce80;
  --color-white: white;

  --maxw: 1200px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "BookkMyungjo";
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--ct);
}

ul {
  list-style: none;
  padding: 0;
}

.section {
  padding: 4rem;
  text-align: center;
}

.max-container {
  max-width: var(--maxw);
  margin: auto;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.description {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

/* header */
.header {
  background-color: var(--cp);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo__img {
  width: 36px;
  height: 36px;
}

.header__logo__title {
  font-size: 1.8rem;
}

/* header menu */

.header_menu {
  display: flex;
  gap: 4px;
}

.header_menu_item {
  padding: 8px 16px;
}

.header_menu_item:hover {
  border-bottom: 1px solid var(--ca);
}

.header_menu_item.active {
  border: 1px solid var(--ca);
  border-radius: 5px;
}

/* home */
#home {
  background-color: var(--cp);
  color: var(--ct);
  padding: 7rem 1rem 5rem; /* 위 아래 좌우 */
  text-align: center;
}

.home__avatar {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: 3px solid var(--cp);
  object-fit: cover;
  object-position: center top;
  margin-top: 1rem;
}

.home__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home__title--strong {
  color: var(--ca);
}

.home__description {
  font-size: 1.5rem;
}

.home__contact {
  display: inline-block;
  background-color: var(--ca);
  color: var(--cp);
  margin: 2rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
}

.home__contact:hover {
  background-color: transparent;
  color: var(--ct);
  outline: 2px solid var(--ca);
}

/* about */
.majors {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 2.5rem 0;
}

.major {
  background-color: var(--cp);
  padding: 2rem 1rem;
  color: var(--ct);
  border-radius: 1rem;
  cursor: default;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
}

.major__icon {
  font-size: 4rem;
  margin: 1rem 0;
  color: var(--ca);
  transition: all 300ms ease;
}

.major:hover .major__icon {
  transform: rotate(-15deg) scale(1.2);
}

.major__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.jobs {
  text-align: start;
}

.job {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1rem;
}

.job__name {
  color: var(--cp);
}

.job__period {
  color: var(--cp);
  font-size: 0.8rem;
}

.jobs img {
  width: 300px;
  margin-right: 20px;
}

/* skills */
#skills {
  background-color: var(--cp);
  color: var(--ct);
}

.skills {
  display: grid;
  grid-template-columns: 6fr 4fr;
  margin: 2rem 3rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.4),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.skills__title {
  color: var(--ca);
  margin: 1rem 0;
  font-size: 1.2rem;
}

.skills__coding {
  grid-row: span 2;
  padding: 1rem;
  background-color: var(--cp);
}

.bar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.bar__metadata {
  display: flex;
  justify-content: space-between;
}

.bar__bg {
  width: 100%;
  height: 3px;
  background-color: var(--ca);
}

.bar__value {
  height: 3px;
  background-color: var(--cav);
}

.skills__tools {
  padding: 1rem;
  background-color: var(--cpv);
}

.skills__etc {
  padding: 1rem;
  background-color: var(--cp);
  filter: brightness(150%);
}

/* work */
#work {
  background-color: var(--cp);
  color: var(--ct);
}

.categories {
  display: flex;
  justify-content: center;
  margin: 2.5rem;
  gap: 1rem;
}

.category {
  position: relative;
  color: var(--ct);
  font-size: 1.1rem;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  border: 1px solid var(--ca);
  cursor: pointer;
  white-space: nowrap;
}

.category--selected {
  background-color: var(--ca);
  color: var(--cp);
}

.category__count {
  opacity: 0;
  position: absolute;
  top: -20px;
  right: 16px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 100%;
  background-color: var(--cav);
  color: var(--ct);
  transition: all 250ms ease-in;
}

.category--selected .category__count,
.category:hover .category__count {
  opacity: 1;
  top: 0;
}

.projects {
  display: grid;
  /* 가로로 4개의 칸을 만들고 각각의 칸을 동일한 너비로 나눔 */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.project {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.project__img {
  width: 100%;
}

.project__metadata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  transition: all 250ms ease-in;
  transform: translateY(-10px);
}

.project__metadata:hover {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__title:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin: 0.5rem;
  width: 50px;
  height: 2px;
  background-color: var(--ca);
}

/* license */
.licenses {
  margin: 3rem;
}

.license {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}

.license:nth-child(even) .license__img {
  order: 1;
}

.license__img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.license__bubble {
  padding: 1rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.license__bubble__name {
  color: var(--ca);
  font-weight: bold;
  filter: brightness(70%);
}

/* arrow-up */
.arrow-up {
  background-color: var(--cp);
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  text-align: center;
  box-shadow: 5px 5px 0px 0px var(--ca);
}

/* footer */
#contact {
  background-color: var(--cp);
  color: var(--ct);
}

.contact__links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 2rem;
}

.contact__link {
  transition: color 250ms ease-in;
}

.contact__link:hover {
  color: var(--ca);
}
